body{
    padding-top : 70px;
    min-height: 500px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
	background-color: #353535;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover {
	color: white;
	text-shadow: 1px 1px 5px white;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
    max-height: none;
}

.fa-2{
    font-size: 2em;
}
.fa-3{
    font-size: 4em;
}
.fa-4{
    font-size: 7em;
}
.fa-5{
    font-size: 12em;
}
.fa-6{
    font-size: 20em;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 1%;
    height: 183px;

}

.col-xs-15 {
    width: 18%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 18%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 18%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 18%;
        float: left;
    }
}

.film {
	background-image: url(../images/film.png);
	background-size: cover;
}

.bd {
	background-image: url(../images/book.png);
	background-size: cover;
}

.musique {
	background-image: url(../images/music.png);
	background-size: cover;
}

.serie {
	background-image: url(../images/tvshow.png);
	background-size: cover;
}

.jeu {
	background-image: url(../images/game.png);
	background-size: cover;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.col-md-3, .col-lg-12 {
    background: rgba(255,255,255,0.4);
}

.fixed {}